<html xmlns:th="https://www.thymeleaf.org">

<head>
    <link href="../static/css/header.css"
          th:href="@{/css/header.css}" rel="stylesheet" />

</head>
<body>
<div th:replace="fragments/header.html :: layout (~{::body},'owners')"></div>

<h2>Check your pets</h2>



<div>
    <h2 style="text-align: center">Pets</h2>
    <table id="clinicRepository" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 20%;" >Name</th>
            <th style="width: 20%;">Age</th>
            <th style="width: 20%;">Appointments</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="pet : ${pets}">
            <td th:text="${pet.name}"/>
            <td th:text="${pet.age}"/>

            <td><form action="#"  th:action = "@{owners/appointPet/{id}(id=${pet.id})}" method = "GET">
                <button  >Make appointment</button>
            </form>
            </td>

        </tr>
        </tbody>
    </table>
</div>
<a class="btn btn-default" href="#" th:href="@{/owners/newPet/{id}(id=${owner_id})}">Add Pet</a>



</body>
</html>
