

<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>

</head>



    <div  th:fragment="header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li class="active"><a href="/specialty">Specialties</a></li>
                    <li class="active"><a href="/register">Register</a></li>
                    <li class="active"><a href="/appointment">Appointments</a></li>
                    <li class="active"><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>

</html>