<html xmlns:th="https://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link href="../static/css/header.css"
          th:href="@{/css/header.css}" rel="stylesheet" />
</head>

<div th:replace="fragments/header.html :: header"></div>
<div style="margin-top: 9%">
<h2>Add Appointment</h2>


<form action="#" th:action="@{/createAppointment}" th:object="${appointment}" method="post">
    <p>Clinic: <input type="text" th:field="*{clinic.name}"  /></p>
    <p>Description: <input type="text" th:field="*{description}" /></p>
    <p>Owner CNP: <input type="text" th:field="*{owner.cnp}" id="ownerCNP"/> </p>
    <div class="form-group">
        <select  class="form-control" required="required"
                 th:field="*{pet.id}" name="pet" id="pet">
            <option value="0">Select your pet</option>
            <option th:each="pet : ${pets}" th:value="${pet.id}"
                    th:text="${pet.name}" >
            </option>
        </select>
    </div>



    <div class="form-group blu-margin">
    <select class="form-control" th:field="*{vet.id}"  id="vet">
        <option value="0">Select Vet</option>
        <option th:each="vet : ${vets}" th:value="${vet.id}" th:text="${vet.firstName + ' ' + vet.lastName}"></option>
    </select>
    </div>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

</div>
<script>
    $('#ownerCNP').change(
        function() {
            $.getJSON("http://localhost:8080/appointments/getpet", {
                ownerCNP : $(this).val()
                // ajax : 'true'
            }, function(data) {
                var petOptions = '';

                data.forEach(function(pet) {
                    petOptions = petOptions + '<option value="' + pet.id + '">' + pet.name + '</option>'
                });

                $('#pet').html(petOptions);
            });
        });
</script>
</body>
</html>


