<html xmlns:th="https://www.thymeleaf.org">

<head>
    <link href="../static/css/header.css"
          th:href="@{/css/header.css}" rel="stylesheet" />

</head>
<body>
<div th:replace="fragments/header.html :: layout (~{::body},'appointments')"></div>

<h2>Find Appointment</h2>



<div>
<h2 style="text-align: center">Your Appointments</h2>
<table id="clinicRepository" class="table table-striped">
    <thead>
    <tr>
        <th style="width: 20%;" >Date</th>
        <th style="width: 20%;">Description</th>
        <th style="width: 20%;">Pet</th>
        <th style="width: 20%;">Clinic</th>
        <th style="width: 20%;">Vet</th>
        <th style="width: 20%;">Edit</th>
        <th style="width: 20%;">Delete</th>

    </tr>
    </thead>
    <tbody>
    <tr  th:each="appointment : ${ownerAppointments} ">

        <td th:text="${appointment.appointmentDetails.date}"/>
        <td th:text="${appointment.appointmentDetails.description}"/>
    <td th:each="pet : ${pets}" th:if="${pet.id == appointment.petId}">
        <p th:text ="${pet.name}"></p>
    </td>
        <td th:text="${appointment.clinic.name}"/>
        <td th:each=" vet : ${vets}" th:if="${vet.id == appointment.vetId}">
            <p th:text="${vet.lastName + ' ' + vet.firstName}"></p>
        </td>
        <td><form action="#"  th:action = "@{/appointments/editAppointment/{id}(id=${appointment.id})}" method = "GET">
            <button  >Edit</button>
        </form>
        </td>
        <td><form action="#"  th:action = "@{/appointments/deleteAppointment/{id}(id=${appointment.id})}" method = "DELETE">
            <button  >Delete</button>
        </form>
        </td>

    </tr>
    </tbody>
</table>
</div>



</body>
</html>
