<html xmlns:th="https://www.thymeleaf.org">

<head>
    <link href="../static/css/header.css"
          th:href="@{/css/header.css}" rel="stylesheet" />

</head>
<body>
<div th:replace="fragments/header.html :: layout (~{::body},'appointments')"></div>

<h2>Find Appointment</h2>

<form th:object="${appointment}" th:action="@{search}" method = "GET"
      class="form-horizontal" id="search-owner-form">
    <div class="form-group">
        <div class="control-group" id="lastNameGroup">
            <label class="col-sm-2 control-label">Owner CNP</label>
            <div class="col-sm-10">
                <input class="form-control" th:field="*{owner.cnp}" size="13"
                       maxlength="13" required />
                <td th:if="${#fields.hasErrors('owner.cnp')}" th:errors="*{owner.cnp}">
                    Error</td>

            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Find Appointment</button>
        </div>
    </div>

</form>

<br />
<a class="btn btn-default" th:href="@{/appointments/newAppointment}">Make Appointment</a>

</body>
</html>
